html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-regular;
  font-size: 14px;
  min-height: 100%;
  width: auto;
  letter-spacing: -1%;
  margin: 0;
}


a,
.btn,
.icon {
  transition: 0.3s all;
}

a{
  text-decoration: none;
  color: var(--c-primary);
  &:hover, &:focus{
    color: var(--c-secondary);
  }
}


.card{
  width: 50%;
}
