

$desktop-lg: toRem(1919);
$desktop-md: toRem(1620);
$desktop-sm: toRem(1420);
$desktop-xs: toRem(1360);

$tablet-lg: toRem(1080);
$tablet-md: toRem(991);
$tablet-sm: toRem(865);

$mobile-lg: toRem(767);
$mobile-md: toRem(576);
$mobile-sm: toRem(540);

/*
* Paths
*/
$mainlink-assets-path: "/dist";
$mainlink-font-path: "../fonts";

/*
* Fonts
*/
$font-family: "BarlowSemiCondensed", "Arial Narrow", Arial, sans-serif;


/*
 * Base colors
*/

// Theme colours
:root {
    --c-primary:#B6349A;
    --c-secondary: #2b2d42;
    --c-black: #000000;
    --c-white: #ffffff;
    --primary-pink : #FEF5FD;


    --bs-primary: var(--c-primary);
    --bs-secondary: var(--c-secondary);
    --swiper-navigation-size: 30px;
    --swiper-theme-color: var(--c-black);
    --swiper-navigation-color: var(--c-black);
    --swiper-pagination-color: var(--c-black);

    
}

$header_text-color: #3E3B3F;
