/*------------------*
# Variables
*------------------*/

// Breakpoints
$desktop-lg: toRem(1919); // Wide Desktop Screens (Above 1680 - Large Screens)
$desktop-md: toRem(1620); // Medium Desktop Screens (Like 1480 - Macbook & Macbook Pro)
$desktop-sm: toRem(1420); // Small Desktop Screens
$desktop-xs: toRem(1360); // Small Desktop Screens

$tablet-lg: toRem(1080); // Landscape Tablet
$tablet-md: toRem(991); // Portrait Medium Tablet
$tablet-sm: toRem(865); // Portrait Tablet

$mobile-lg: toRem(767); // Mobile Landscale
$mobile-md: toRem(576); // Mobile Medium Portrait
$mobile-sm: toRem(540); // Mobile Portrait

/*
* Paths
*/
$mainlink-assets-path: "/dist";
$mainlink-font-path: "../fonts";

/*
* Fonts
*/

$font-header:  'SFProDisplay-Heavy';
$font-regular: 'SFProText-Regular'; 
$font-medium: 'SFProText-Medium'; 
$font-semibold: 'SFProText-Semibold'; 
$font-bold: "SFProText-BoldItalic"; 

/*
 * Base colors
*/

// Theme colours
:root {
    --c-primary: #e86a92;
    --c-secondary: #2b2d42;
    --c-black: #000000;
    --c-white: #ffffff;
    --bs-primary: var(--c-primary);
    --bs-secondary: var(--c-secondary);
    --swiper-navigation-size: 30px;
    --swiper-theme-color: var(--c-black);
    --swiper-navigation-color: var(--c-black);
    --swiper-pagination-color: var(--c-black);
}